@import url(../../vendor/Railroad/stylesheet.css);

.deckItem__content {
  background-color: var(--color-background);
  min-height: calc(100vh - 262px);
}

.deckItem__section {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 70px 20px;
  max-width: 1040px;
  width: 100%;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 760px) {

  .deckItem__section {
    padding: 40px 20px 20px;
    align-items: inherit;
    max-width: 97vw;
  }
}

@media screen and (max-width: 480px) {

  .deckItem__section {
    padding: 26px 5px 20px;
  }
}

.deckItem__words {
  padding: 60px 0 70px;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  flex-wrap: wrap;
}

@media screen and (max-width: 580px) {

  .deckItem__words {
    justify-content: center;
  }
}

.decks__button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.decks__button-container button {
  width: 30%;
}

@media screen and (max-width: 990px) {

  .decks__button-container button {
    width: 240px;
  }
}

@media screen and (max-width: 990px) {

  .decks__button-container {
    justify-content: center;
  }
}


@media screen and (max-width: 640px) {

  .decks__button-container {
    flex-direction: column;
    max-width: 280px;
    gap: 20px;
    align-items: center;
  }
}