@import url(../../vendor/Railroad/stylesheet.css);

.wordItem {
  background-color: #fff;
  min-height: calc(100vh - 262px);
}

.wordItem__content {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 70px 20px;
  max-width: 1040px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 680px) {

  .wordItem__content {
    padding: 66px 20px 20px;
  }
}

@media screen and (max-width: 480px) {

  .wordItem__content {
    padding: 66px 12px 20px;
  }
}

.wordItem__title-container1 {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.wordItem__title-container {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {

  .wordItem__title-container {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 680px) {

  .wordItem__title-container {
    align-items: center;
  }
}

.wordItem__title {
  font-family: Inter, sans-serif;
  line-height: 30px;
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 28px;
  color: rgb(67 67 67);
}

@media screen and (max-width: 630px) {

  .wordItem__title {
    text-align: center;
  }
}

.wordItem__word {
  font-family: Inter, sans-serif;
  line-height: 30px;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  color: rgb(43 42 42);
}

@media screen and (max-width: 490px) {

  .wordItem__word {
    line-height: 20px;
    font-size: 18px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 390px) {

  .wordItem__word {
    font-size: 16px;
  }
}

.wordItem__transcription {
  font-family: Inter, sans-serif;
  line-height: 28px;
  margin: 4px 0;
  padding: 4px 0;
  font-weight: 400;
  font-size: 24px;
  color: rgb(175 174 174);
  background-color: white;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 390px) {

  .wordItem__transcription {
    font-size: 14px;
    line-height: 26px;
    margin: 6px 0;
  }
}

.wordItem__title1 {
  font-family: Inter, sans-serif;
  line-height: 30px;
  margin: 0;
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 34px;
  color: rgb(37 37 37);
  padding-left: 20px;
}

@media screen and (max-width: 630px) {

  .wordItem__title1 {
    padding-left: 0;
  }
}

.wordItem__text {
  font-family: Inter, sans-serif;
  line-height: 30px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: rgb(67 67 67);
}

.wordItem__titleTextContainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

@media screen and (max-width: 630px) {

  .wordItem__titleTextContainer {
    flex-direction: column;
    align-items: center;
  }
}

.wordItem__forms-container {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 20px;
}

@media screen and (max-width: 630px) {

  .wordItem__forms-container {
    align-items: center;
    justify-content: center;
  }
}

.wordItem__form-container {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f8f9e7;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  margin: 10px;
  min-width: 170px;
}

.wordItem__middle-column {
  padding-left: 30px;
  padding-right: 30px;
}

.wordItem__arrow {
  width: 90px;
  height: 40px;
}

.wordItem__arrow:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}
