@import url(../../vendor/Railroad/stylesheet.css);

.main__content {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 262px);
}

@keyframes ani {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.aboutMe__content {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 70px 20px;
  min-width: 1020px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
}

.decks__content {
  justify-items: center;
  align-items: stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 70px 70px;
  color: var(--color-font-base);
  align-self: center;
}

.decks__main-content {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  flex-wrap: wrap;
  align-self: center;
  /*min-width: 80vw;*/
}

.decks__content-wrap {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  gap: 4px;
}

.aboutMe__title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 23px;
}

.aboutMe__status-text {
  font-family: Inter, sans-serif;
  line-height: 30px;
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 28px;
  align-self: center;
}

.aboutMe__title-text {
  font-family: Inter, sans-serif;
  line-height: 30px;
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 28px;
  align-self: center;
}

.aboutMe__text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 20px;
}

.aboutMe__column {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  justify-content: space-between;
}

.aboutMe__text-block {
  display: flex;
  flex-direction: row;
  padding-top: 66px;
  justify-content: space-between;
  gap: 20px;
}

.aboutMe__photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: right bottom;
}

.aboutMe__link {
  text-decoration: none;
  color: var(--color-font-grey);
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.aboutMe__link:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}

@media screen and (max-width: 1160px) {

  .aboutMe__content {
    min-width: 200px;
  }
}

@media screen and (max-width: 620px) {

  .aboutMe__text {
    font-size: 18px;
    line-height: 24px;
    padding-right: 0;
  }
}

@media screen and (max-width: 1050px) {

  .aboutMe__text-block {
    flex-direction: column-reverse;
    padding-top: 60px;
  }
}

@media screen and (max-width: 1050px) {

  .aboutMe__status-text {
    max-width: 420px;
    position: absolute;
    top: 80px;
    left: 70px;
  }
}

@media screen and (max-width: 1050px) {

  .aboutMe__column1 {
    padding-top: 160px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1050px) {

  .aboutMe__photo {
    position: absolute;
    top: 40px;
    right: 90px;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 770px) {

  .aboutMe__status-text {
    max-width: 220px;
    top: 60px;
  }
}

@media screen and (max-width: 560px) {

  .aboutMe__photo {
    position: static;
    right: 90px;
    width: 210px;
    height: 210px;
  }
}

@media screen and (max-width: 560px) {

  .aboutMe__column1 {
    padding-top: 30px;
  }
}

@media screen and (max-width: 560px) {

  .aboutMe__column {
    align-items: center;
  }
}

@media screen and (max-width: 560px) {

  .aboutMe__status-text {
    position: static;
    max-width: 400px;
    font-size: 24px;
  }
}

@media screen and (max-width: 770px) {

  .decks__content {
    padding: 20px 5px 0;
  }
}

@media screen and (max-width: 400px) {

  .decks__content {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 1050px) {

  .aboutMe__text-block {
    flex-direction: column-reverse;
    padding-top: 60px;
  }
}

@media screen and (max-width: 450px) {

  .aboutMe__content {
    padding: 0 20px 20px;
  }
}

@media screen and (max-width: 450px) {

  .aboutMe__button-content {
    padding: 70px 20px;
  }
}

@media screen and (max-width: 450px) {

  .aboutMe__text {
    padding-right: 0;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 450px) {

  .aboutMe__name-text {
    left: 50px;
  }
}

@media screen and (max-width: 450px) {

  .aboutMe__status-text {
    left: 50px;
  }
}

@media screen and (max-width: 650px) {

  .aboutMe__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 650px) {

  .aboutMe__link {
    padding-top: 40px;
  }
}
