@import url(../../vendor/Railroad/stylesheet.css);

.searchForm__form {
  max-width: 1140x;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  align-items: baseline;
}

@media screen and (max-width: 770px) {

  .searchForm__form {
    grid-template-columns: auto;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {

  .searchForm__form {
    grid-template-columns: auto;
    grid-template-rows: 72px 0;
    padding-bottom: 0;
  }
}

.searchForm__input-container {
  grid-column: 1/1;
  grid-row: 1/1;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
  display: grid;
  grid-template-columns: 1 auto;
  max-width: 1077px;
}

.searchForm__input {
  border-style: none;
  background: #f4f4f4;
  border-radius: 9px;
  max-width: 1040px;
  width: 100%;
  height: 72px;
  z-index: 1;
  grid-column: 1/1;
  grid-row: 1/1;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.searchForm__input:focus-visible {
  outline: #e6e6e6 auto 0;
}

@media screen and (max-width: 530px) {

  .searchForm__input {
    padding: 0 0 0 19px;
  }
}

.searchForm__img {
  color: #c4c4c4;
  height: 34px;
  z-index: 2;
  position: absolute;
  margin-left: 20px;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  align-self: center;
  justify-self: flex-end;
  margin-right: 20px;
}

@media screen and (max-width: 530px) {

  .searchForm__img {
    display: none;
  }
}
