@import '../../../styles/variables';

.bigTopicButton {
  @include font(20px, 32px, 400);

  display: block;
  width: 240px;
  min-height: 36px;
  height: fit-content;
  text-decoration: none;
  color: $color-font-base;
  background-color: $color-button-topic;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 20px;
  justify-content: center;
  padding-top: 10px;
  border: 0.5px solid $color-border-grey;
  margin: 10px 20px 0;

  &__mainText {
    @include font(28px, 28px, 400);

    margin: 0;
    min-height: 32px;
    padding-top: 20px;
    font-weight: 500;
  }

  &__text {
    margin: 0;
    min-height: 56px;
    font-size: 16px;
    color: $color-font-grey;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $color-button-hovered;
    transition: all 0.35s;
    opacity: 0.4;
    border-radius: 20px;
  }

  &:hover::after {
    width: 100%;
    cursor: pointer;
  }
}

@media screen and (width <= 870px) {
  .bigTopicButton {
    margin: 10px auto 0;
  }
}

@media screen and (width <= 660px) {
  .bigTopicButton {
    width: 380px;
  }
}

@media screen and (width <= 420px) {
  .bigTopicButton {
    width: 280px;
  }
}
