@import url(../../vendor/Railroad/stylesheet.css);

.numbersTraining__content {
  background-color: #fff;
  min-height: calc(100vh - 262px);
  max-width: 1040px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1080px) {

  .numbersTraining__content {
    padding: 20px;
  }
}

@media screen and (max-width: 680px) {

  .numbersTraining__content {
    padding: 20px 8px;
  }
}

.numbersTraining__section {
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 70px 20px;
  max-width: 1040px;
  width: 100%;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 680px) {

  .numbersTraining__section {
    padding: 40px 20px 20px;
    align-items: inherit;
  }
}

@media screen and (max-width: 480px) {

  .numbersTraining__section {
    padding: 26px 5px 20px;
    /*align-items: center;*/
  }
}
